.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px; 
}

.harmas{
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;

}

.container2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px; 
}

.kettes{
  background-color: white;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
}

.barna{
  background-color: rgb(190, 166, 150);
}

#bagoly{
  float: left;
}

#link{
  float: left;
}